<h1> Most recent 100 rows stored </h1>

<table>
 <tr>
  <th> id </th>
  <th> uuid </th>
  <th> created </th>
  <th> data  </th>
 </tr>
 <% @d.each do |datum| %>
  <tr>
    <td><%= datum.id %></td>
    <td class="uuid"><%= datum.uuid %></td>
    <td><%= datum.created_at.to_f %></td>
    <td><%= datum.data.length >50?datum.data[0,47]+"...":datum.data %></td>
  </tr>  
 <% end %> 

</table>
